body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/full-bloom.png);
}

h1 {
    text-align: center;
    font-size: 2em;
}

p {
    text-align: center;
    font-size: 1em;
}

a {
    font-weight: bold;
    font-size: 1em;
}

button {
    min-height: 20px;
    width: 20%;
    height: 30px;
}

button:hover {
    color: black;
    background-color: rgb(20, 151, 15);
}

footer {
    background-color: rgb(20, 151, 15);
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;            /* Footer height */
}

.rozcestnik {
    background-color: rgb(20, 151, 15);
    border-bottom: 2px solid black;
    font-size: 0;
    text-align: center;
    position: sticky;
    top: 0;
}

.jidelnicek {
    display: grid;
}

.kontakt {
    background-color: white;
    border: solid black 0.5px;
    border-radius: 50px 0 50px 0;
    max-width: max-content;
    min-width: 0%;
    margin: 20px auto 0 auto;
    padding: 20px;
    word-wrap: break-word;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    max-width: max-content;
    min-width: 0%;
    margin: 0 auto;
    padding: 0 5% 5% 5%;
  }

.grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: auto;
    font-size: 1em;
    padding: 5px 20px 5px 5px; 
    word-wrap: break-word;
  }

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
