body {
    background-color: #FFCD35;
}

.rozcestnik {
    text-align: center;
    margin-bottom: 20px;
}

.jidelnicek {
    display: grid;
}

.jidelnicek-den {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-auto-flow ;
    background-color: white;
}

.jidelnicek-polevka {
    grid-column-start: 2;
    grid-column-end: 2;  
    background-color: red;  
}

.jidelnicek-hlavni {
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: blue;
}

h1 {
    text-align: center;
    font-size: 2em;
}

p {
    text-align: center;
    font-size: 1em;
}

a {
    font-weight: bold;
    font-size: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #2196F3;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    

    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 1em;


  }
